---
import { Image } from 'astro:assets';
import ImageCarousel from '@components/react/ImageCarousel';
import warehouseImg from '@assets/galeria-bg.jpg';
import carouselImgOne from '@assets/67.jpg';
import carouselImgTwo from '@assets/body.jpg';
import carouselImgThree from '@assets/makeup-wiktoria-2.jpg';
import carouselImgFour from '@assets/brow-mp.png';
import carouselImgFive from '@assets/powiekszanie-ust.jpeg';

export interface Props {
  title?: string;
}

const { title = 'Konsultacje w zakresie makijazu permanentnego i modelowania ust w Koscierzynie i Wejherowie' } = Astro.props;

const carouselImages = [
  {
    src: carouselImgOne.src,
    alt: 'Profesjonalny makijaż permanentny brwi',
    description: 'Profesjonalny makijaż permanentny brwi'
  },
  {
    src: carouselImgTwo.src,
    alt: 'Stylizacja brwi metodą henna',
    description: 'Stylizacja brwi metodą henna'
  },
  {
    src: carouselImgThree.src,
    alt: 'Powiększanie ust kwasem hialuronowym',
    description: 'Powiększanie ust kwasem hialuronowym'
  },
  {
    src: carouselImgFour.src,
    alt: 'Naturalny efekt makijażu permanentnego',
    description: 'Naturalny efekt makijażu permanentnego'
  },
  {
    src: carouselImgFive.src,
    alt: 'Modelowanie ust - efekt przed i po',
    description: 'Modelowanie ust - efekt przed i po'
  }
];
---

 <!-- Nowa sekcja -->
<section class="container">
  <div class="mx-auto w-full max-w-5xl">
    <h2 class="font-poppins text-center tracking-[0.5em] text-md font-medium uppercase text-[#baa586]">
      {title}
    </h2>

    <hr class="mx-auto mt-6 h-px w-full max-w-3xl border-0 bg-[#c1b599] my-10" />

    <p class="text-4xl text-center leading-relaxed mt-4 font-poppins font-extralight">
     Konsultacje z Wioletą Literską
      <span class="italic">w Kościerzynie i Wejherowie.</span>
    </p>

    <p class="mx-auto my-9 mb-25 text-left lg:text-justify first-letter:text-8xl first-letter:float-left first-letter:mr-4 first-letter:mt-1 first-letter:font-serif first-letter:leading-[0.8] ">
      Nie mogę się doczekać, aby poznać Cię osobiście! Podczas konsultacji opowiem o możliwościach makijażu permanentnego oraz modelowania ust i wspólnie dobierzemy rozwiązanie, które najlepiej podkreśli Twoją naturalną urodę. Zarezerwuj dogodny termin wizyty i pozwól mi zadbać o Twój wygląd oraz komfort.
    </p>
  </div>
    <div class="mx-auto w-full max-w-5xl items-center">
    
      <!-- Druga kolumna: Karuzela -->
      <ImageCarousel images={carouselImages} client:load />
    </div>
    
</section>

