---
import { Image } from 'astro:assets';
import ImageCarousel from '@components/react/ImageCarousel';
import warehouseImg from '@assets/galeria-bg.jpg';
import carouselImgOne from '@assets/3.jpg';
import carouselImgTwo from '@assets/5.jpg';
import carouselImgThree from '@assets/15.jpg';
import carouselImgFour from '@assets/makijaz_permanentny_koscierzyna_beauty.jpg';
import carouselImgFive from '@assets/powiekszanie_ust_koscierzyna_beauty.jpg';

const carouselImages = [
  {
    src: carouselImgOne.src,
    alt: 'Profesjonalny makijaż permanentny brwi',
    description: 'Profesjonalny makijaż permanentny brwi'
  },
  {
    src: carouselImgTwo.src,
    alt: 'Stylizacja brwi metodą henna',
    description: 'Stylizacja brwi metodą henna'
  },
  {
    src: carouselImgThree.src,
    alt: 'Powiększanie ust kwasem hialuronowym',
    description: 'Powiększanie ust kwasem hialuronowym'
  },
  {
    src: carouselImgFour.src,
    alt: 'Naturalny efekt makijażu permanentnego',
    description: 'Naturalny efekt makijażu permanentnego'
  },
  {
    src: carouselImgFive.src,
    alt: 'Modelowanie ust - efekt przed i po',
    description: 'Modelowanie ust - efekt przed i po'
  }
];
---

 <!-- Nowa sekcja -->
<section class="py-24">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <!-- Pierwsza kolumna: Obraz z tekstem -->
      <div class="rounded-4xl">
        <div class="relative h-full min-h-100 lg:min-h-125">
          <Image
            src={warehouseImg}
            alt="Automated warehouse with modern robotics"
            class="h-full w-full object-cover rounded-4xl"
            width={1000}
            height={600}
            decoding="async"
          />
          <div class="absolute bottom-0 left-0 right-0 p-8 text-white rounded-b-4xl">
            <span class="text-sm uppercase tracking-wide ">
              Galeria
            </span>
            <h2 class="mb-2 py-3">Beauty for <span class="border-2 border-white rounded-[20px] px-3 py-1">You</span></h2>
          </div>
        </div>
      </div>
    
      <!-- Druga kolumna: Karuzela -->
      <ImageCarousel images={carouselImages} client:visible />
    </div>
    
  </div>
</section>

