---
import { Image } from 'astro:assets';
import Button from '../ui/Button.astro';
import heroBgImg from '@assets/photo-1586528116311-ad8dd3c8310d.jpg';
import leftBg from '@assets/brown_backgrund_for_beauty.jpg';
import rightBg from '@assets/15.jpg';
---

<!-- nowa sekcja -->
<section id="premium-hero" class="relative w-full m-0 p-0 flex flex-col md:flex-row overflow-hidden h-auto md:h-[700px]">
  <div class="absolute flex flex-col items-center left-1/2 -translate-x-1/2 z-50 pt-4">
  <a href="/" class="mb-6">
    <img
      src="/logo-wl.png"
      alt="Wioleta Literska Logo"
      class="object-contain w-[250px]"
      width="250"
      height="80"
    />
  </a>
</div>

  <h1 class="absolute bottom-20 left-1/2 -translate-x-1/2 z-50 text-white text-4xl lg:text-5xl font-normal font-poppins drop-shadow-lg text-center px-4">Top Cosmetic </h1>
  
  <!-- LEWA -->
  <div class="relative min-w-0 w-full flex-none md:flex-1 h-105 md:h-full md:peer/left
              md:transition-[flex] md:duration-300 md:ease-out md:hover:flex-[1.7] md:peer-hover/right:flex-[0.3]
              md:hover:z-10 md:hover:shadow-xl group/left">

    <Image
      src={leftBg}
      alt="Background left"
      class="absolute inset-0 w-full h-full object-cover"
      width={1920}
      height={700}
      decoding="async"
      fetchpriority="high"
    />
  <div class="absolute inset-0 bg-black/20"></div>

    <h2 class="absolute top-50 left-1/2 -translate-x-1/2 text-white text-4xl font-normal drop-shadow-lg z-10">
      Fresh Lips™ </br>Modelowanie ust
    </h2>
      <ul
        class="absolute top-80 left-1/2 -translate-x-1/2 flex gap-6 flex-wrap justify-center
               opacity-100 pointer-events-auto md:opacity-0 md:pointer-events-none
               transition-opacity duration-200
               md:group-hover/left:opacity-100 md:group-hover/left:pointer-events-auto z-20"
      >
      <li><a href="/usta" class="text-white text-lg font-semibold hover:underline">usta</a></li>
      <li><a href="/brwi" class="text-white text-lg font-semibold hover:underline">brwi</a></li>
      <li><a href="/powieka" class="text-white text-lg font-semibold hover:underline">powieka</a></li>
    </ul>
  </div>

  <!-- PRAWA -->
  <div class="relative min-w-0 w-full flex-none md:flex-1 h-105 md:h-full md:peer/right
              md:transition-[flex] md:duration-300 md:ease-out md:hover:flex-[1.7] md:peer-hover/left:flex-[0.3]
              md:hover:z-10 md:hover:shadow-xl group/right">
    <Image
      src={rightBg}
      alt="Background right"
      class="absolute inset-0 w-full h-full object-cover"
      width={1920}
      height={700}
      decoding="async"
      fetchpriority="high"
    />
<div class="absolute inset-0 bg-slate-900/10"></div>
    <h2 class="absolute top-50 left-1/2 -translate-x-1/2 text-white text-3xl font-normal drop-shadow-lg z-10">
      Top permanent makeup
    </h2>

   
      <ul
        class="absolute top-60 left-1/2 -translate-x-1/2 flex gap-6 flex-wrap justify-center
               opacity-100 pointer-events-auto md:opacity-0 md:pointer-events-none
               transition-opacity duration-200
               md:group-hover/right:opacity-100 md:group-hover/right:pointer-events-auto z-20"
      >
      <li><a href="/modelowanie-ust" class="text-white text-lg font-semibold hover:underline">Usta</a></li>
      <li><a href="/kolor" class="text-white text-lg font-semibold hover:underline">Brwi</a></li>
      <li><a href="/korekta" class="text-white text-lg font-semibold hover:underline">Powieka</a></li>
    </ul>
  </div>
</section>



