---
import FeatureShowcase from '../react/FeatureShowcase';
---

<section class="container mx-auto">
  <div class="px-4 sm:px-6 lg:py-8">
    <div class="text-center mb-16">
      
      <p class="!text-4xl leading-[1.5] text-slate-900 max-w-3xl mx-auto italic font-playfair">
        Ten salon kosmetyczny wyróżnia się profesjonalnym podejściem i przyjazną atmosferą, którą czuć już od pierwszej wizyty. Zabiegi wykonywane są bardzo starannie, z dbałością o każdy detal. Z przyjemnością wrócę ponownie.
      </p>
      <span class="block mt-[0.45em] !text-[0.95rem] font-semibold tracking-[3px] uppercase p-6 border-2 border-white rounded-[20px]">- To najczęstsza opinia naszych klientek.</span>
    </div>

    <FeatureShowcase client:load />
  </div>
</section>

