---
import { Image } from 'astro:assets';
import opinieImg from '@assets/opinie.jpg';
import TestimonialsSlider from '../react/TestimonialsSlider.tsx';

const testimonials = [
  {
    quote: "Profesjonalizm na najwyższym poziomie. Makijaż permanentny brwi wykonany perfekcyjnie, naturalny efekt który utrzymuje się już rok. Serdecznie polecam!",
    name: "Anna Kowalska",
    role: "Klientka",
    ringColor: "ring-blue-200" 
  },
  {
    quote: "Wspaniałe doświadczenie! Powiększanie ust było bezbolesne, a efekt jest dokładnie taki jak sobie wymarzyłam. Wioleta jest prawdziwym profesjonalistą.",
    name: "Magdalena Nowak",
    role: "Klientka",
    ringColor: "ring-teal-200"
  },
  {
    quote: "Najlepsza inwestycja w siebie! Po zabiegu makijażu permanentnego ust oszczędzam mnóstwo czasu każdego ranka. Efekt naturalny i trwały.",
    name: "Karolina Wiśniewska",
    role: "Klientka",
    ringColor: "ring-blue-200"
  },
  {
    quote: "Niezwykły profesjonalizm i dbałość o szczegóły. Makijaż permanentny wykonany z dużą precyzją. Przesłoma różnica w wyglądzie!",
    name: "Justyna Lewandowska",
    role: "Klientka",
    ringColor: "ring-purple-200"
  }
];
---

<section class="container mx-auto py-32 ">
  <div class="px-4 sm:px-6 lg:py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      {/* Pierwsza kolumna: Obraz z tekstem */}
      <div class="rounded-4xl">
        <div 
          class="relative h-full min-h-[600px] lg:min-h-[600px] rounded-4xl bg-cover bg-center"
          style={`background-image: url(${opinieImg.src})`}
        >
          <div class="absolute bottom-0 left-0 right-0 p-8 text-white rounded-b-4xl">
            <span class="text-sm uppercase tracking-wide">
             Opinie naszych klientów
            </span>
            <h2 class="mb-2 py-3">Prawdziwe opinie. Prawdziwe <span class="border-2 border-white rounded-[20px] px-3 py-1">Rezultaty</span></h2>
          </div>
        </div>
      </div>

      {/* Druga kolumna: Opinie */}
      <div class="rounded-4xl flex flex-col items-center justify-center p-6">
        <TestimonialsSlider testimonials={testimonials} client:load />
      </div>
    </div>
  </div>
</section>
