---
import { Phone } from 'lucide-react';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faLocationDot, faStar, faCircleInfo } from '@fortawesome/free-solid-svg-icons';
---

<div class="flex h-10 items-center justify-end text-x1">
  <div class="flex items-center gap-8">
    <a
      href="/specjalne"
      class="hidden lg:inline-flex items-center gap-4 text-slate-600 hover:text-blue-600 transition-colors"
    >
      <FontAwesomeIcon icon={faStar} className="h-4 w-4" />
      <span>Oferty Specjalne</span>
    </a>
    <a
      href="/informacje-dla-klienta"
      class="hidden lg:inline-flex items-center gap-4 text-slate-600 hover:text-blue-600 transition-colors"
    >
      <FontAwesomeIcon icon={faCircleInfo} className="h-4 w-4" />
      <span>Informacje dla Klienta</span>
    </a>
    <a
      href="tel:+48695239434"
      class="hidden md:inline-flex items-center gap-4 text-slate-600 hover:text-blue-600 transition-colors"
    >
      <Phone className="h-4 w-4" fill="currentColor" />
      <span>Gabinet Kościerzyna<br/>+48 695 239 434</span>
    </a>
    <a
      href="https://maps.app.goo.gl/sGgGBwZ52NhQ6kCN9"
      class="inline-flex items-center gap-4 text-slate-600 hover:text-blue-600 transition-colors"
    >
      <FontAwesomeIcon icon={faLocationDot} className="h-4 w-4" />
      <span class="hidden sm:inline">Znajdź lokalizację</span>
    </a>
  </div>
</div>